aiosqlite==0.20.0
alembic==1.17.1
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
asyncpg==0.30.0
certifi==2025.10.5
click==8.3.0
coverage==7.11.2
fastapi==0.121.0
fastapi-pagination==0.15.0
flake8==7.3.0
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
packaging==25.0
pluggy==1.6.0
pycodestyle==2.14.0
pydantic==2.12.4
pydantic-settings==2.11.0
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.3.2
pytest-asyncio==0.23.8
pytest-cov==7.0.0
python-dotenv==1.2.1
sniffio==1.3.1
SQLAlchemy==2.0.44
starlette==0.49.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uuid==1.30
uvicorn==0.38.0
